extends layout

block content

  div.jumbotron.my-3
    h1.display-4 HitoKoto
    p.lead いろんなものを一言で表してみよう！

  if user
    - var hasTheme = themes.length > 0
    if hasTheme
      h3.text-center.my-3 新着のテーマ
      each theme in themes
        div(id=`Theme_${theme.theme_id}`).card.mb-3
          div.card-header.p-2
            div.row
              div.col-md-6.col-sm-6.col-xs-6
                h5.card-title.m-2 #{theme.theme}
              div.col-md-offset-6.col-md-6.col-sm-6.col-xs-6.text-right
                button(data-theme_id=theme.theme_id).showHitokotoDetail.btn.btn-info
                  i.far.fa-comment-dots
                if user.username === theme.user.username
                  button(data-theme_id=theme.theme_id data-csrf=csrfToken).deleteTheme.btn.btn-secondary.ml-2
                    i.fas.fa-trash-alt

          ul(id=`HitokotoList_${theme.theme_id}` style="display: none;").list-group.list-group-flush
            each hitokoto in hitokotos
              if(hitokoto.theme_id === theme.theme_id)
                li(id=`Hitokoto_${hitokoto.hitokoto_id}`).list-group-item
                  div.container.pr-0
                    div.row
                      div.col-md-8.col-sm-8.col-xs-8
                        div.row
                          a(href="#")
                            img(src=`https://avatars.githubusercontent.com/${hitokoto.user.username}`).hitokotoIcon
                          span.ml-2 #{hitokoto.hitokoto}
                      div.col-md-offset-4.col-md-4.col-sm-4.col-xs-4.text-right
                        | by #{hitokoto.user.username}
                        button(data-theme_id=theme.theme_id data-hitokoto_id=hitokoto.hitokoto_id).star.btn.btn-sm.btn-outline-primary.ml-2.border-0
                          i.fas.fa-star 10
                        if user.username === hitokoto.user.username
                          button(data-theme_id=theme.theme_id data-hitokoto_id=hitokoto.hitokoto_id data-csrf=csrfToken).deleteHitokoto.btn.btn-sm.btn-outline-secondary.ml-2.border-0
                            i.fas.fa-trash-alt

          div(id=`HitokotoForm_${theme.theme_id}` style="display: none;").card-body.p-2
            form(method="post" action="/hitokoto")
              input(type="hidden" name="_csrf" value!=csrfToken)
              input(type="hidden" name="theme_id" value=theme.theme_id)
              div.input-group
                input(id=`HitokotoInput_${theme.theme_id}` type="text" name="hitokoto" placeholder=`${theme.theme} を一言で表すと……`).form-control
                div.input-group-append
                  button(data-theme_id=theme.theme_id data-csrf=csrfToken).createHitokoto.btn.btn-info 投稿

    div.pb-3
      div.text-center
        button#themeInputSwitch.btn.btn-outline-info 新しくテーマをつくる
      div(style='display: none;')#themeForm
        div.input-group.mb-3
          input(type="text" placeholder="テーマ")#themeInput.form-control
          div.input-group-append
            button(data-csrf=csrfToken).createTheme.btn.btn-info 作成
